@{
    ViewBag.Title = "Home Page";
}

<div class="left-column">
    <form>
        <fieldset>
            <legend> My Group List</legend>
            <p> <a href=""> Group 1 </a> </p>
            <p> <a href=""> Group 2 </a> </p>
            <p> <a href=""> Group 3 </a> </p>
        </fieldset>

        <fieldset>
            <legend> Platform </legend>
            <p> <a href="PlayStation"><img src="ps4.jpg" onmouseover="this.src = 'ps4-2.jpg'" onmouseout="    this.src = 'ps4.jpg'" height="50" width="150" /></a> </p>
            <p> <a href="X-box"><img src="x-box.jpg" onmouseover="this.src = 'x-box2.jpg'" onmouseout="    this.src = 'x-box.jpg'" height="50" width="150" /></a> </p>
            <p> <a href="PC"><img src="pc" onmouseover="this.src = 'pc2.jpg'" onmouseout="    this.src = 'pc.jpg'" height="50" width="150" /></a> </p>
            <p> <a href="Other"><img src="other.jpg" onmouseover="this.src = 'other2.jpg'" onmouseout="    this.src = 'other.jpg'" height="50" width="150" /></a> </p>
        </fieldset>
    </form>

    <!-- 2 listar hér my groups og platform svo efst profile image-->
</div>

<div class="main-column">
    <form>
        <fieldset>
            <input type="text" />
            <input type="submit" />
        </fieldset>
    </form>
    <!-- Status glugginn og News feedið hér -->

</div>

<div class="right-column">

    <!-- Friendslist koma hér -->
    <form>
        <fieldset>
            <legend> My group list </legend>
            <a href=""> Jóhann Guðmundsson</a>
        </fieldset>
    </form>
</div>