@model Gamefacers.Models.FrontPageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="left-column">
    <form>
        <fieldset>
                <legend> My Group List</legend>
                  <!-- foreach (var group in Model.Groups)
                {
                    <p> <a href=""> group.GroupName </a> </p>
                } -->
        </fieldset>
    <br  />
    <br  />
        <fieldset>
            <legend> Platform </legend>
            @foreach (var platform in Model.Platforms)
            {
                <p>
                    <a href="@platform.Name">
                        <img src="@platform.PhotoUrl" height="50" width="150" />
                    </a>   
                </p>
            }
        <!-- <p> <a href="PlayStation"><img src="http://i.imgur.com/xwqh2ak.jpg?1" onmouseover="this.src = 'http://i.imgur.com/exZg9EI.jpg'" onmouseout="    this.src = 'http://i.imgur.com/xwqh2ak.jpg?1'" height="50" width="150"/></a> </p>
        <p> <a href="Xbox"><img src="http://i.imgur.com/IwcnMlN.jpg" onmouseover="this.src = 'http://i.imgur.com/ImYI6Fh.png'" onmouseout="    this.src = 'http://i.imgur.com/IwcnMlN.jpg'" height="50" width="150"/></a> </p>
        <p> <a href="PC"><img src="http://i.imgur.com/3UecBAo.jpg" onmouseover="this.src = 'http://i.imgur.com/lQUVxRx.png?1'" onmouseout="    this.src = 'http://i.imgur.com/3UecBAo.jpg'" height="50" width="150"/></a> </p>
        <p> <a href="Other"><img src="http://i.imgur.com/JaEo3yC.jpg" onmouseover="this.src = 'http://i.imgur.com/DeGCX3U.jpg'" onmouseout="    this.src = 'http://i.imgur.com/JaEo3yC.jpg'" height="50" width="150"/></a> </p>
            -->
        </fieldset>
    </form>

    <!-- 2 listar hér my groups og platform svo efst profile image-->
</div>

<div class="main-column">

        <p> Jonsson , kl 13:37 </p>
        <fieldset class="status">
            <!-- Hér kemur statusinn-->
            <p> status </p>
    
            <textarea class="comment" placeholder="comment on status"></textarea>
            <input class="status-button" type="submit" value="Post" />
            <!--Hér kemur comment og post-takki-->
        </fieldset>
        <br />
        <br />
</div>

<div class="right-column">


    <form>
        <fieldset>
            <legend> My Friends </legend>
            
            
      <!--  foreach (var friend in Model.Friendships)
        {
            <p>
                <a href="friend.">
                    <img src="friend." height="50" width="150"/>
                </a>
            </p>-->
        }
        </fieldset>
    </form>
</div>

