@{
    ViewBag.Title = "Home Page";
}

<div class="left-column">
    <form>
        <fieldset>
            <legend> My Group List</legend>
            <p> Group 1 </p>
            <p> Group 2 </p>
            <p> Group 3 </p>
        </fieldset>
    </form>

    <!-- 2 listar hér my groups og platform svo efst profile image-->
</div>

<div class="main-column">
    <form>
        <fieldset>
            <input type="text" class="status-gluggi"/>
            <input type="submit" />
        </fieldset>
    </form>
    <!-- Status glugginn og News feedið hér -->
</div>

<div class="right-column">

    <!-- Friendslist koma hér -->
    <form>
        <fieldset>
            <legend> My group list </legend>
            <a href=""> Jóhann Guðmundsson</a>
        </fieldset>
    </form>
</div>