@{
    ViewBag.Title = "MyProfile";
}

<div class="left-column">
    <form>
        <fieldset>
            <!--Hér kemur profile pic sem user hefur upploadað-->
        </fieldset>

        <fieldset>
            <!--Hér kemur upplýsingar um userinn Name,Email,Birthday og settings-->

        </fieldset>
    </form>

    <!-- 2 Um profile og efst profile image-->
</div>

<div class="main-column">
    <form>
        <fieldset>
            <input type="text" />
            <input type="submit" />
        </fieldset>
    </form>
    <!-- Status glugginn og News feedið hér -->
</div>

<div class="right-column">

    <!-- Friendslist koma hér -->
    <form>
        <fieldset>
            <legend> My group list </legend>
            <a href=""> Jóhann Guðmundsson</a>
        </fieldset>
    </form>
</div>
