@model IEnumerable<Gamefacers.Models.Group>

@{
    ViewBag.Title = "PC";
}

<h1>PC Gaming Master Race - All ur are belong to us</h1>

<form>
    <fieldset>
        <legend>PC games</legend>
       @foreach (var item in Model)
       {
           <p>
               @item.GroupName
           </p>
           <p>
               @item.PhotoUrl
           </p>
       }
    </fieldset>
</form>
