@model IEnumerable<Gamefacers.Models.Group>

<div>
    <form class="groups">
        
        <fieldset class="groups-fieldset">
            <legend>Playstation 4</legend>
            @foreach (var item in Model)
            { 
                <fieldset>
                 @Html.ActionLink(@item.GroupName, "GroupIndex", "Group", new {id = item.ID}, null)  
                </fieldset>
            <br />
            }
        </fieldset>
        
        <br />
        <a href="/group/create" value=""> Create Group hér </a>
    </form>
</div>