@model IEnumerable<Gamefacers.Models.Group>
@{
    ViewBag.Title = "PlayStation";
}

<h2>PlayStation</h2>
<form>
    <fieldset>
        <legend>Playstation</legend>
        @foreach (var item in Model)
        {
            <p>
                @item.GroupName
            </p>
            <p>
                <img src="@item.PhotoUrl" height="50" width="150" />
            </p>
        }
    </fieldset>
</form>