@model IEnumerable<Gamefacers.Models.Group>
@{
    ViewBag.Title = "PlayStation";
}

<div>
    <form class="groups">
        
        <fieldset class="groups-fieldset">
            <legend>Playstation</legend>
            @foreach (var item in Model)
            {
                <fieldset>
                    <a href="/"> @item.GroupName </a>
                </fieldset>
            <br />
            }
        </fieldset>
        
        <br />
        <a href="/group/create"> Create Group hér </a>
    </form>
</div>