
@{
    ViewBag.Title = "UsersProfile";
}

<h2>UsersProfile</h2>

@{
    ViewBag.Title = "MyProfile";
}

<div class="left-column">
    <form>
        <fieldset>
            <!--Hér kemur profile pic sem user hefur upploadað-->
            <p>

                <a href="http://www.w3schools.com">
                    <img src="http://img1.wikia.nocookie.net/__cb20150320210257/logopedia/images/f/fa/Logo-PSX.png" alt="Go to W3Schools!" width="42" height="42" border="0">
                </a>
            </p>

        </fieldset>

        <fieldset>
            <p> Add user Hér </p>
        </fieldset>
    </form>

    <!-- 2 Um profile og efst profile image-->
</div>

<div class="main-column">
    <form>
        <fieldset>
            <input type="text" />
            <input type="submit" />
        </fieldset>
    </form>
    <!-- Status glugginn og News feedið hér -->
</div>

<div class="right-column">

    <!-- Friendslist koma hér -->
    <form>
        <fieldset>
            <legend> My group list </legend>
            <a href=""> Jóhann Guðmundsson</a>
        </fieldset>
    </form>
</div>
