@model Gamefacers.Models.ApplicationUser


<div class="left-column">
    <form>
        <fieldset>
            <!--Hér kemur profile pic sem user hefur upploadað-->
            <p>
                <a href="">
                    <img src="http://img1.wikia.nocookie.net/__cb20150320210257/logopedia/images/f/fa/Logo-PSX.png" alt="Go to W3Schools!" width="42" height="42" border="0">
                </a>
            </p>
        </fieldset>

        <fieldset>
           <!--(Html.BeginForm("AddFriend", "FriendShip", FormMethod.Post, new { }));-->
            <a href="/Friendship/AddFriend?FriendId=@Model.Id">Add Friend</a>
        </fieldset>
    </form>

    <!-- 2 Um profile og efst profile image-->
</div>

<div class="main-column">
    <form>
        <!--Hér kemur statusinn frá user eða vinum af newsfeed-->
        <fieldset>
            <textarea placeholder="What´s on your mind"></textarea>
            <input type="submit" />
        </fieldset>
    </form>
    <!-- Status glugginn og News feedið hér -->
</div>


<div class="right-column">
    <form>
        <fieldset>
            <legend> My Friends </legend>

            <!--  foreach (var friend in Model.Friendships)
              {
                  <p>
                      <a href="friend.">
                          <img src="friend." height="50" width="150"/>
                      </a>
                  </p>-->
            }
        </fieldset>
    </form>
</div>