@model IEnumerable<Gamefacers.Models.ApplicationUser>


<div class="right-column">
    <fieldset>
        <legend> Members</legend>
        @foreach (var member in Model)
        {
            <p> @member.FullName </p>
        }
       
            
        
    </fieldset>
</div>

<div class="left-column">
    <fieldset>
        <legend> Description </legend>
        <p> @ViewBag.desc </p>
    </fieldset>
    <br/>
        
        @Html.ActionLink("Join", "Join","Group", new { id = ViewBag.Id  }, null)
</div>


<div>
    <fieldset>
        <img src="@ViewBag.photo" class="banner-pic" />
    </fieldset>
</div>

<div class="main-column">
    <fieldset>
        <textarea placeholder="What´s on your mind"></textarea>
        <input type="submit" />
    </fieldset>
</div>
