@model IEnumerable<Gamefacers.Models.ApplicationUser>

<div class="right-column">
    <fieldset>
        <legend> Members</legend>
        <!--foreach (var member in Model)
        {
            <p>member.Fullname </p>
        }-->
    </fieldset>
</div>

<div class="left-column">
     <fieldset>
        <legend> Description </legend>
        <p> @ViewBag.desc </p>
    </fieldset>
    <br/>
    
    <input type="button" value="Join Group" />
</div>


<div>
    <fieldset>
        <img src="@ViewBag.photo" class="banner-pic" />
    </fieldset>
</div>

<div class="main-column">
    <textarea class="status-textarea" placeholder="What´s on your mind"></textarea>
    <input class="status-button" type="submit" value="Post" />

    <br />
    <br  />
    <fieldset class="status">
        <!-- Hér kemur statusinn-->
        <p> Test farðu niður</p>
        <p> Test2 farðu neðar</p>
        <textarea class="comment" placeholder="comment on status"></textarea>
        <input class="status-button" type="submit" value="post"  />
            <!--Hér kemur comment og post-takki-->
    </fieldset>

