body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}


.right-column
{
    text-align: center;
    margin-top:20px;
    font-size:12px;
    background-color:#9B342B;
    position:relative;
    height:750px;
    width:200px;
    float:right;
    padding:5px;	
    color:white;
}

.left-column
{
    text-align: center;
    margin-top:20px;
    position:relative;
    height:750px;
    width:200px;
    float:left;
    padding:5px;	 
    background-color:#9B342B;
    color:white;     
}

#columncolor
{
    background-color:#9B342B;
    color:white;
}

#text-color-black
{
    color:black;
}

#text-color-red
{
    color: #9B342B;
}

.main-column
{
    text-align: left;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    float:left;
    height:auto;
    border:1px;
    border-style:solid;
    border-color:#9B342B;
    position:relative;
    border:5px;
    width:700px;
}

a:link
{
    color: White;
    
}
a:visited
{
    color: White;
    
}

a:hover
{
     
}

a:active
{
    color: red;
}

fieldset
 { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border:1px;
    border-style:solid;
    border-color:white;
}

.footer 
{
    height: 10px;
    width:500px;
    position:relative;
	bottom:0;
	padding-left:250px;
}

.status-textarea 
{
    height:40px;
    width:800px;
    resize: none;
    left: 5px; 
    top: 5px;
    right: 5px; 
    bottom: 5px;
    background-color: #9B342A;
    color: white;
    border-color: white;
}

.text-color-black
{  
    font:bold;
    text-decoration:none;
    font-weight: bold;
}

.groups
{
    text-align: center;
    margin-top:20px;
    margin-left:250px;
    margin-right:20px;
    float:left;
    height:auto;
    border:1px;
    border-style:solid;
    border-color:#9B342B;
    position:relative;
    padding:20px;
    width:500px;
    background-color:#9B342B;
    color:white;
}

.groups-fieldset
{
    width: 200px;
    margin:auto;
}

.banner-pic
{
    float:left;
    height:200px;
    position:relative;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:5px;
    width:700px;
}

.text-align-left
{
    text-align:left;
}

.status-button
{
    height:41px;
    width:80px;
}

.status-gluggi
{
    height:200px;
    width:680px;
    resize: none;
    left: 5px; 
    top: 5px;
    right: 5px; 
    bottom: 5px;
    background-color: #9B342A;
    color: white;
    border-width:2px;
    border-color: black;
}

.comment
{
    
    height:40px;
    width:570px;
    resize: none;
    background-color: white;
    color: black;
    border-color: white;
}

.status
{
    height:auto;
    width:680px;
    resize: none;
    left: 5px; 
    top: 5px;
    right: 5px; 
    bottom: 5px;
    background-color: #9B342A;
    color: white;
    border-width:2px;
    border-color: black;
}