body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.right-column
{
    text-align: center;
    margin-top:20px;
    border:1px;
    border-style:solid;
    border-color:black;
    font-size:12px;
  
    position:relative;
    background-color:#680000;
    height:auto;
    width:auto;
    float:right;
    padding:5px;	
}

.left-column
{
    text-align: center;
    margin-top:20px;
    border:1px;
    border-style:solid;
    border-color:red;
    position:relative;
    background-color:#680000;
    height:auto;
    width:auto;
    float:left;
    padding-top:20px;
    padding:5px;	      
}

#left-columncolor
{
    background-color:#680000;

}

.main-column
{
    text-align: center;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    float:left;
    height:500px;
    border:1px;
    border-style:solid;
    border-color:black;
    position:relative;
    padding:20px;
    width:750px;
}

a:link
{
    color:blue;
}
a:visited
{
    color: purple;
}

a:hover
{
    background-image:url("") 
}

a:active
{
    color:red;
}

fieldset
 { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border:1px;
    border-style:solid;
    border-color:black;
}

.footer 
{
    position:absolute;
	bottom:0;
	left:200px;
}

textarea 
{
  height:100px;
  width:800px;
  resize: none;
  left: 5px; 
  top: 5px;
  right: 5px; 
  bottom: 5px;
}